### CollaborativeFiltering - Test both NLP MultinomialNB model and KNN model

In [1]:
# import required libraries
import pickle
import numpy as np
import pandas as pd
import math
#import vaex

In [14]:
# Load movie_user_rating_index.csv 
movie_features_index_df=pd.read_csv("movie_user_rating_index.csv",encoding ='utf-8',compression='gzip')
movie_features_index_df.head(10)

   index                 title
0      0  10 cloverfield lane
1      1            10,000 bc
2      2     12 years a slave
3      3            127 hours
4      4             17 again
5      5                 2012
6      6                   21
7      7       21 jump street
8      8       22 jump street
9      9           27 dresses

In [3]:
# by mistaken ly NAN value saved from previous pipline Collabortive filtering model creation
# No issues eventhough with NAN 
movie_features_index_df.isnull().sum()

index    0
title    0
dtype: int64

In [4]:
# Load pivot test table  - used 10 movies data for testing
movie_user_rating_pivottable=pd.read_csv("movie_user_rating_pivottable_test.csv",encoding ='utf-8',compression='gzip')

In [5]:
movie_user_rating_pivottable.head(5)

,14,15,34,35,36,42,48,53,56,67,...,283182,283183,283184,283189,283193,283195,283199,283206,283210,283219
0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,2,0.0,0.0,0.0,0.0,3.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0,0.0,0.0,4.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# Load KNN model
model_knn = pickle.load( open( "collaborativeFiltering_model.pkl", "rb" ) )

In [7]:
# Load classifier
model_classifier = pickle.load( open( "collaborativeFiltering_NLP_model.pkl", "rb" ) )

In [8]:
# Load TFIDF NLP vectorizer
vectorizer = pickle.load(open("collaborativeFiltering_NLP_vectorizer.pkl", 'rb'))

In [20]:
# pass movie name and get movie index which can be used in recommendation modelmodel_knn
def getMovieIndex(name):
    name=name.strip().lower()
    firstValue="10 cloverfield lane".lower()
    test_vector= vectorizer.transform([name])
    predicted = model_classifier.predict(test_vector)
    
    available =   name in firstValue
    # return -1 for unavailable movies
    if((predicted[0] == 0) & (~available)):
        return -1
    else:
        return predicted[0]

In [10]:
# Pass index and get similar movies
def getRecomendedMoviesByIndex(queryIndex,numOfMovies):
    distances, indices = model_knn.kneighbors(movie_user_rating_pivottable.iloc[queryIndex,:].values.reshape(1, -1), n_neighbors = numOfMovies)
    return distances,indices

In [11]:
# Pass movie name and get similar movies
def recommendedMovies(name,numOfMovies=5):
    movieList=list()
    query_index=getMovieIndex(name)
    distances, indices =getRecomendedMoviesByIndex(query_index,numOfMovies)
    for i in range(0, len(distances.flatten())):
        movieList.append(movie_features_index_df.title[indices.flatten()[i]])
    return movieList

In [21]:
#name="Iron Man"
#name="101 dalmatians"
name="sflasjlfkjlafl"
numOfMovies=10
getMovieIndex(name)

-1

In [22]:
getRecomendedMoviesByIndex(4,10)

(array([[2.10942375e-15, 6.31058085e-01, 6.46263324e-01, 6.75821453e-01,
         6.76531706e-01, 6.94942499e-01, 6.96716398e-01, 6.96901354e-01,
         7.01166321e-01, 7.19368845e-01]]),
 array([[  4, 301,   9, 109, 419, 415, 418, 437, 163, 127]], dtype=int64))

In [23]:
firstValue="burb"
name="burb"

available = firstValue in name
available

True

In [28]:
name="17 again"
#name="101 dalmatians"
#name="asljflasjflaj sjdflajf"
query_index=getMovieIndex(name)
numOfMovies=10
try:
    distances, indices =getRecomendedMoviesByIndex(query_index,numOfMovies)
    for i in range(0, len(distances.flatten())):
        if i == 0:
            print('Recommendations for {0}:\n'.format(movie_features_index_df.title[query_index]))
        else:
            print('{0}: {1} =  {2}% '.format(i, movie_features_index_df.title[indices.flatten()[i]],(math.ceil((1 - distances.flatten()[i])*100)) ))
except IndexError:
    print("Movie Index not found")
except KeyError:
    print("Movie Index not found")

Recommendations for 17 again :

1: proposal, the  =  37%
2: 27 dresses  =  36%
3: easy a  =  33%
4: ugly truth, the  =  33%
5: twilight  =  31%
6: twilight saga: new moon, the  =  31%
7: what happens in vegas...  =  31%
8: he's just not that into you  =  30%
9: friends with benefits  =  29%